<form>
  <mat-card>
    <mat-card-title>{{ title }}</mat-card-title>

    <mat-form-field>
      <input matInput type="text" name="name" placeholder="Name">
      <mat-hint align="start">Don't disclose personal info</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="city" placeholder="City">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="state" placeholder="State">
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </mat-card>
</form>
